{% extends 'user/userbase.html' %}

{% block head %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/registerstyle.css' %}">


<style>
    .tagedit{
        color: #1d2124; 
        background-color: rgb(223 240 251); 
        padding-top: 1%; 
        margin-top:1%; 
        margin-left:1%; 
        margin-right:1%;
    }
</style>



{% endblock %}


{% block content %}

<div>
    <div class="jumbotron" id = "headerid" style="padding-top:10% ; color:black">
      <h2 class="display-4" style="color :#8f0a0a;">Welcome ! {{user_name_disp}}</h2>
      <p class="lead">This is a System Test Conducted by the eAlpha4Tech as part of the Interview.</p>
      <hr class="my-4">
      <p>This is the second level of the Interview</p>
</div>

<h2 style="color:black; padding-bottom:4% ; text-align: center;"> -- TASKS --</h2>
{% for chunk in post_data_db_retrived %}

<form action="{% url 'userprofile' %}" method="post">
    {% csrf_token %}
    <header class=" text-white" style="padding-top: 40px; padding-bottom: 100px;">
        <div class="container text-center">
          
    
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm">
                        <h4 style="color: darkred;"></h4>
                    </div>
                    <div class="col-sm">
                        <h4 style="color: darkred;">TASK</h4>
                    </div>
                    <div class="col-sm">
                        <span class=" badge-success green_block">
                            <h3 style="    
                            font-size: large;
                             background-color: #ffe3e3;
                             color: black;
                             padding-top: 3%;
                             padding-bottom: 3%;
                             font-weight: bold;
                             font-style: italic;"
                             >Status : {{chunk.taskstatus}}</h3>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text" style="font-weight: 700; color:black; padding-bottom:3%;">
                {{chunk.task}}
            </h5>
    
            <div class="">
                <div class="dists overflow-auto card-header" style="overflow-y: auto">
                    <span class="badge">
                           <p style="font-size: large; color: darkred;">Users : </p>
                    </span>
                        
                       
                        {% for user in chunk.userdata %}
                            <span class="badge badge-success green_block tagedit">
                                        <p style="font-size: large;">{{user}}</p>
                            </span>
                        {% endfor %}
                    </a>
                </div>
            </div>
            <div class="card-header">

                <div class="row" style="padding-top: 2%;
                                padding-bottom: 2%;
                                background-color: #f5f7df; ">
                <div class="col-2" style="padding-top:1%;">
                    <p style="font-size: large; font-weight: bold;color: darkred;">Update:</p>
                </div>
                
                <div class="col-8" style="padding-top:1%;">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                    {% if chunk.taskstatus == "Initiated" %}
                        <label class="btn btn-outline-info active">
                            <input type="radio" name="statusoptions" id="option1" value = "Initiated${{chunk.task}}" autocomplete="off" checked> Initiated
                        </label>
                    {% else %}
                        <label class="btn btn-outline-info active">
                            <input type="radio" name="statusoptions" id="option1" value = "Initiated${{chunk.task}}" autocomplete="off"> Initiated
                        </label>
                    {% endif %}

                    {% if chunk.taskstatus == "In_Progress" %}
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="statusoptions" id="option2" value="In_Progress${{chunk.task}}" autocomplete="off" checked> In_Progress
                        </label>
                    {% else %}
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="statusoptions" id="option2" value="In_Progress${{chunk.task}}" autocomplete="off"> In_Progress
                        </label>
                    {% endif %}

                    {% if chunk.taskstatus == "Completed" %}
                        <label class="btn btn-outline-success">
                            <input type="radio" name="statusoptions" id="option3" value="Completed${{chunk.task}}" autocomplete="off" checked> Completed
                        </label>
                    {% else %}
                        <label class="btn btn-outline-success">
                            <input type="radio" name="statusoptions" id="option3" value="Completed${{chunk.task}}" autocomplete="off"> Completed
                        </label>
                    {% endif %}

                    {% if chunk.taskstatus == "Delayed" %}
                        <label class="btn btn-outline-danger">
                            <input type="radio" name="statusoptions" id="option4" value="Delayed${{chunk.task}}" autocomplete="off" checked> Delayed
                        </label>
                    {% else %}
                        <label class="btn btn-outline-danger">
                            <input type="radio" name="statusoptions" id="option4" value="Delayed${{chunk.task}}" autocomplete="off"> Delayed
                        </label>
                    {% endif %}
                    </div>
                    </div>
                    <div class="col-2" >
                        <button type="submit" style="margin-top: 3%;" class="btn btn-primary btn-lg ">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        
    
              
      
      
      
        </div>
      </header>
    
    
      
    </form>
    {% endfor %}

    {% if pop_up == "success" %}
    <!-- Modal -->
    <div class="modal in" id="myModal" style="display: block;" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            
            <h4 class="modal-title" style="color: green;">Success</h4>
          </div>
          <div class="modal-body" style="color: black;">
            <p> Data submitted Successfully </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="displaynone()" data-dismiss="modal">Close</button>
          </div>
          <script>
            function displaynone() {
              document.getElementById("myModal").style.display = "none"; 
              document.getElementById("headerid").style.opacity = "100%";
            }
            </script>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("headerid").style.opacity = "20%"; 
  </script>
    {% endif %}




{% endblock %}



